[Unit]
Description=Hydroxide Protonmail Bridge.
PartOf=graphical-session.target
After=network.target

[Service]
Type=exec
Restart=on-failure
ExecStart=%h/.local/bin/hydroxide serve

[Install]
WantedBy=graphical-session.target
